<a href="https://colab.research.google.com/github/qkjquiming-sketch/CPE009A/blob/main/Python_Fundamentals.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

1. Python Indentation

In [5]:
if 5 > 2:
  print("Five is greater than two!")

Five is greater than two!

2. Python Comments

In [6]:
# This is a comment!
print("Hello World!")

Hello World!

3. Variable Naming Conventions

In [40]:
# Single Var Example
x = 1
# Multi Var Example
a, b = 0, -1
a, b, c = 0, -1, 2

print("Int Variables ",x, a, b, c)

# String Var Example
b = "Sally" # This is a type of string

print("Strg Variable ", b)

Int Variables  1 0 -1 2
Strg Variable  Sally

In [12]:
# Declaring Variables
year = 2025             # Int
carBrand = "Toyota"     # String
carModel = "4Runner"    # String

print("Year Released : ", year)
print("Car Brand : ", carBrand)
print("Car Model : ", carModel)

Year Released :  2025
Car Brand :  Toyota
Car Model :  4Runner

4. Casting

In [41]:
b = "Sally" # Type of String
b = int(4)  # Type of Integer

print(b)

b = float(4)  # Converts int to float
print(b)

4
4.0

5. Type() Function

In [42]:
# Prints the datatype of the variable
x = 5
y = "John"

print(type(x))
print(type(y))

<class 'int'>
<class 'str'>

6. "Double Quotes" or 'Single Quotes'

In [26]:
# String variables can be declared either by using single or double quotes:
y = "John"
print(y)
y = 'John'
print(y)

John
John

7. Case Sensitive

In [43]:
# 'A' and 'a' are two different variables
a = 4
A = "Sally"
print(a, "\n", A)

4
 Sally

8. Multiple Variables

In [32]:
x, y, z = 'one', 'two', 'three'
print(x)
print(y)
print(z)

one
two
three

9. One Value to Multiple variables

In [44]:
x = y = z = 'four'
print(x)
print(y)
print(z)

four
four
four

10. Output Variables

In [39]:
# The python 'print' is used to output variables and '+' is used to combine both text and variable
x = ' fun'
print("Python programming is"+x)

# Other way
x = 'Python programming is '
y = 'fun'
z = x + y
print(z)

Python programming is fun
Python programming is fun

Arithmetic Operations

In [64]:
x = 5
y = 3

print(x + y)    # Addition
print(x - y)    # Subtraction
print(x * y)    # Multiplication
print(x / y)    # Division
print(x % y)    # Modulo
print(x ** y)   # Exponentiation
print(x // y)   # Floor division

8

Assignment Operators

In [78]:
s = 1

s += 3
print(f"s += 3 : {s}")
s -= 3
print(f"s -= 3 : {s}")
s *= 3
print(f"s *= 3 : {s}")
s /= 3
print(f"s /= 3 : {s}")
s %= 3
print(f"s %= 3 : {s}")
s //= 3
print(f"s //= 3 : {s}")
s **= 3
print(f"s **= 3 : {s}")

s = 1

s &= 3
print(f"s &= 3 : {s}")
s |= 3
print(f"s |= 3 : {s}")
s ^= 3
print(f"s ^= 3 : {s}")
s >>= 3
print(f"s >>= 3 : {s}")
s <<= 3
print(f"s <<= 3 : {s}")

s += 3 : 4
s -= 3 : 1
s *= 3 : 3
s /= 3 : 1.0
s %= 3 : 1.0
s //= 3 : 0.0
s **= 3 : 0.0
s &= 3 : 1
s |= 3 : 3
s ^= 3 : 0
s >>= 3 : 0
s <<= 3 : 0

Comparison Operators

In [81]:
t = 1
u = 2

print(t == u)  # Equal
print(t != u)  # Not equal
print(t > u)   # Greater than
print(t < u)   # Less than
print(t >= u)  # Greater than or equal to
print(t <= u)  # Less than or equal to

False
True
False
True
False
True

Logical Operators

In [88]:
print(t > 0 and t < 10)         # Prints TRUE if BOTH statements are true
print(t < 5 or t > 4)           # Prints TRUE if ONE of the statements is true
print(not(t > 5 and t < 10))    # Reverse the result

True
True
True

Identity Operators

In [91]:
x = ["apple", "banana"]
y = ["apple", "banana"]
z = x

print(x is z)
print(x is y)
print("\n")
print(x is not z)
print(x is not y)

True
False


False
True

Bitwise Operator

In [8]:
v = 5
w = 3

print(v & w)  # AND Operator
print(v | w)  # OR Operator
print(v ^ w)  # XOR Operator
print(~v)     # NOT Operator
print(v << 1) # Left Shift Operator
print(v >> 1) # Right Shift Operator

1
7
6
-6
10
2